<link href="{{ url_for('static', filename = 'css/term.css') }}" rel="stylesheet" />

<main>
  <section class="hero has-dflex-center">
    <div class="lx-container-60">
      <div class="lx-row">
        <div class="box-border">
          <div class="overlay"></div>
          <div class="box">
            <div class="code">
              <p>jon_k@lab.local:~$&nbsp;export QUOTE="A simple hello could lead to a million thiings" && sleep 10000</p>
              <p>jon_k@lab.local:~$&nbsp;echo $QUOTE</p>
              <p>A simple hello could lead to a million things</p>
              <p>jon_k@lab.local:~$&nbsp;yes Let's get in touch...</p>
              <p>Let's get in touch...</p>
              <p>Let's get in touch...</p>
              <p>Let's get in touch...</p>
              <p>Let's get in touch...</p>
              <p>Let's get in touch...</p>
              <p class="cursor-blink"><b>_</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>